*{
  margin: 0;
  padding: 0;
  font-family:'Outfit', sans-serif;
  box-sizing: border-box;
  max-zoom: 150%;
}

.parent {
  display: flex;
  min-height: 100vh;
  background: black;
  padding: 1%;
  overflow: hidden;
  position: relative;
  max-height: 100px;
  width: 100%;
  z-index: 2;
}

.timetable-box {
  padding: 2%;
  padding-right: 4%;
  background-color: rgb(232,192,234);
  border-radius: 2rem;
  width: 100%;
  position: relative;
  min-width: 100%;
  max-height: 100%;
  overflow: auto;
  z-index: 2;
}

.timetable {
  padding: 6% 1%;
  display: flex;
  width: 60%;
  float: center;
  min-height: 100vh;
  position: relative;
  max-height: 100%;
  overflow: hidden;

}

.courseList {
  position: relative;
  width: 35%;
  max-width: 100%;
  background: #E8C0EA;
  margin: 10% auto 2%;
  padding: 1% 1% 2%;
  padding-right: 1.5%;
  border-radius: 2rem;
  z-index: 2;
  position: relative;
  overflow: auto;
  max-height: 100%;
  height: 50vh;
}

.course-details {
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fffdff95;
  margin: 1% 1% 1%;
  border-radius: 2rem;
  padding-left: 2%;
  padding-right: 0%;
  transition: max-height 0.3s ease-out;
  overflow-wrap: break-word;
  overflow: auto;
  justify-content: space-evenly;
  z-index: 2;
}

.course-name {

  max-width: 100%;
  background: transparent;
  margin: 0.1% 0.8% 1%;
  padding: 2% 1% 1%;
  border-radius: 5rem;
}

.time-input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1% 1% 1%;
  align-items: center;
}

.checkbox-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1em;
  align-items: center;
}

.courseList h2 {
  position: relative;
  z-index: 2;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fffdff5e;
  border-radius: 3rem;
  padding-left: 2%;
  margin-bottom: 2.5%;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  position: relative;
  z-index: 2;
  min-width: 100%;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  color: rgb(46, 43, 43);
}

.course-details input {
  flex: 1;
  border: 1px solid black;
  border-radius: 30px;
  outline: none;
  background: white;
  padding: 10px;
  margin-right: 10px;
  color: rgb(46, 43, 43);
}

.choose-wrapper {
  display: flex;
  justify-content: flex-end;
}


#choose-button {
  align-self: flex-end;
  margin-top: 1%;
  margin-right: 5%;
}


.button-48 {
  appearance: none;
  background-color: #ffffff;
  border-width: 0;
  border: 1px solid black;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 1;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 30px;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
  border-radius: 30px
}

.button-48:hover:before {
  background-color:  rgba(86, 32, 187, 0.589);
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  border-radius: 30px;
}

.button-48:after {
  background-color: #FFFFFF;
  border-radius: 30px;
}  

.button-48 span {
  z-index: 1;
  position: relative;
}


.button-48-choose {
  overflow: hidden;
  align-self: flex-end;
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  border: 1px solid black;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  margin-top: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 1;
  outline: 1;
  padding: 1em 1.7em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 30px;
}

.button-48-choose:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
  border-radius: 30px;
}

.button-48-choose:hover:before {
  background-color: rgba(86, 32, 187, 0.589);
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  border-radius: 30px;
}

.button-48-choose:after {
  background-color: #FFFFFF;
  border-radius: 30px;
}  

.button-48-choose span {
  z-index: 1;
  position: relative;
}

.form-check {
  display: inline-block;
  color: rgb(46, 43, 43);
}

.form-check-label {
  margin-right: 25px;
  color: rgb(0, 0, 0);
  
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 14px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(109, 104, 104);
}


.course {
  flex: 1 1 30%;
}

.time, .day {
  flex: 1 1 25%;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: black;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: rgb(41, 39, 39);
  line-height: 40px;
  text-align: center;
}

ul li span:hover {
  background: rgba(235, 231, 231, 0.37);
  border-radius: 50%;
}

.custom-shape-divider-bottom-1690504441 {

  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690504441 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 60px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1690504441 .shape-fill {
  fill: #E8C0EA;
}
.info-row {
  display: flex;
  justify-content:baseline;
  font-size: 13px;
  color: #00000067;
}


.time-prompt-wrapper {
  display: flex;
  justify-content:flex-start;
  font-size: 13px;
  color: #00000067;
}

.start-time {
  padding: 0% 17% 5%;
  animation: fadeIn 2s;
}

.end-time {
  padding-left: 20%;
  animation: fadeIn 3.5s;
}

.week-days {
  padding-top: 3%;
  padding-left: 37%;
  animation: fadeIn 4.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(232,192,234);
}

td {
  transition: background 0.3s ease;
  text-align: left;
  padding: 1%;
  border-right: 1px solid #ddd;
  width: 18%;
}

.filled {
  transition: all 0.3s ease;
  background-color: white;
}

.conflict {
  transition: all 0.3s ease;
  background-color: red;
}

th {
  text-align: center;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  padding-left: 1%;
  padding-right: 0.2%;
  border-right: 1px solid #ddd;
  font-size: 13.5px;
}

.time {
  width: 8%;
}


.half-hour-row {
  padding: 0.1%;
}

td:hover {
  cursor: pointer;
  background-color: #D6EEEE;
}

.shape-blob {
  z-index: 0;
	background:#C2EAC0;
	height: 200px;
	width: 200px;
	border-radius: 30% 50% 20% 40%;
  	animation: 
		transform 20s ease-in-out infinite both alternate,
		movement_one 40s ease-in-out infinite both;
	opacity:.6;
	position: absolute;
	left: 70%;
	top: 80%;
}
.shape-blob.one{
	height: 500px;
	width: 500px;
	left: -200px;
	top: -150px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

.shape-blob.two{
	height: 350px;
	width: 350px;
	left: 900px;
	top: -150px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1.2); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.2);}
}


.label-name {
  padding-left: 2%;
  color: #E8C0EA;
  padding-right: 2%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  font-size: 90px;
} /* Green */